# Flask y extensiones principales
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.0

sqlalchemy==2.0.0
typing-extensions==4.8.0
# Base de datos


# Utilidades
Werkzeug==3.0.1
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7

# Para manejo de formularios y validación
email-validator==2.1.0.post1

# Para variables de entorno
python-dotenv==1.0.0

# Para fechas y tiempo
pytz==2023.3

# Servidor WSGI para producción
gunicorn==21.2.0

# Para desarrollo (opcional)
Flask-DebugToolbar==0.13.1
